/* Configurações Gerais */
* {font-weight: 400; font-family: 'Titillium Web', sans-serif;}


/* Hero Section */
.has-bg{
    width: 100%;
    background: url(../images/MOSHED-2019-1-15-3-10-42.jpg) no-repeat fixed;
}

/* Hero Menu */
.navbar-burger{
    color: #FFF;
    cursor: pointer;
}

.navbar-start {
    width:100%;
    position: fixed;
    background-color: rgba(36,36,36,0.99);
    left: 0;
}

.navbar-start a{
    font-size: 1.3rem;
    color: #FFF; 
}

.navbar-menu{
    width: 100%;
}

/* Hero Title and Content */
.profile-img{
    width: 250px;
    height: 250px;
    margin: 0 20%;
    border-radius: 250px;
    background-image: url(../images/glitch.gif);
}

.title.is-nickname {
    font-family: 'Passion One', cursive;
    color: #FFF;
}

.subtitle.is-skills{
    color: #FFF;
}

.icon-link a{
    color: #FFF;
    margin-right: 50px;
}
.information h1 {
    font-size: 2.5rem;
}

#about p {
    text-align: justify;
}

#education ul {
    list-style-type: none;
}

#experiences p {
    text-align: justify;
} 

@media screen and (min-width: 320px){
    .profile-img{
        margin-left: 8em;
    }
}